body {
  background-color: #dcdcdc;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.brand-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: fit-content;
  align-self:center;
  margin: auto 0;
}

.brand-button {
  width: 160px;
  height: 100px;
  border: 1px solid #525252;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  font-size: 16px;
}

.brand-button:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.brand-button img {
  width: 120px;
  height: auto;
  transition: transform 0.3s ease;
}

.enlarged {
  width: 140px;

}